//-<!-- build:css(test/src) test/compiled/alternate.min.css -->
link(rel='stylesheet', href='style1.css')
link(rel='stylesheet', href='style2.css')
//-<!-- endbuild -->

//-<!-- build:js(test/src) test/compiled/alternate.min.js -->
script(src='script1.js')
script(src='script2.js')
//-<!-- endbuild -->
