//-<!-- build:css test/compiled/autoprefixer.min.css -->
link(rel='stylesheet', href='/test/src/style1.css')
link(rel='stylesheet', href='/test/src/style2.css')
//-<!-- endbuild -->

//-<!-- build:js test/compiled/filerev.min.js -->
script(src='./test/src/script1.js')
script(src='./test/src/script2.js')
//-<!-- endbuild -->
