html
    head
        //-<!-- build:js test/compiled/solvePath.min.js -->
        script(src='../src/script1.js')
        script(src='../src/script2.js')
        //-<!-- endbuild -->
    body
        //some stuff
