!!!
html
    head
        title Test
        link(rel='stylesheet', href='test/compiled/styles.min.css')
        link(rel='prefetch', src='test/compiled/scripts.min.js')
    body
        header Test
        section.some-class(some-property="hello") Test
